.p-livingRoom__txt--wrapper{
    @extend %p-exterior__txt--wrapper;
    top: 3%;
    right: 3%;
    @include media(sp){
        top: 43%;
    }
    > h2 {
        color:antiquewhite;
        @include media(sp){
            font-size: 2rem;
        }
    }
    > p {
        color:#fff;
        @include media(sp){
            font-size: .8rem;
        }
    }
}