.p-top__btn--decoration {
    background-color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    border-radius: 80%;
    position: relative;
    /*
    &::before {
        content: "";
        width: 1rem;
        height: 2rem;
        background-color: #fff;
        position: absolute;
        top: -1rem;
        left: 34%;
        display: block;
        //右斜め上
        transform:rotate(45deg)
    }
    &::after {
        content: "";
        width: 1rem;
        height: 2rem;
        background-color:#fff;
        position: absolute;
        top: -1rem;
        right: 33%;
        display: block;
        //左斜め上
        transform:rotate(-45deg)
    }
    */
}