.p-top__btn {
    font-size: 1.4rem;
    color: #fff;
    cursor: pointer;
    position: relative;
    display: inline-block;
    @include media(sp) {
        font-size: .5rem;
        padding: .5rem 1rem;
        border-radius: 70%;
    }
}